trunk/miscellany/src/main/java/org/daragon/miscellany/xmlbind/bookinformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/bookinformation" xmlns:tns="http://www.example.org/bookinformation"
	elementFormDefault="qualified">
	<xsd:element name="BookInformation"></xsd:element>
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="isbn" type="xsd:string" />
			<xsd:element name="author" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>